@charset "utf-8";

@import "vendor/bulma/sass/utilities/_all.sass";

$family-sans-serif: Helvetica, Arial, "Noto Sans TC", "PingFangTC-Light","Microsoft JhengHei","Helvetica Neue","Heiti TC","微軟正黑體","Nunito",sans-serif;
$family-secondary: Palatino, "Noto Serif TC", "Noto Serif CJK TC", serif;
$widescreen-enabled: false;
$fullhd-enabled: false;

@import "vendor/bulma/bulma.sass";
@import "vendor/buefy/scss/buefy.scss";